body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2 {
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-link {
    margin-right: 1em;
    font-weight: 500;
}

footer p {
    margin: 0;
}
